{#
    Displays list of product collection items

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}
    
    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
{% if items is not empty %}
<div class="panel panel-default collection collection-product">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
    <div class="row">
      {% for item in items %}
        <li>{{ item.rendered|raw }}</li>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}