# Ignore IDE configs
.idea
nbproject
*sublime*

# Ignore library folders
system/libraries
files/assets

# Module folder. Ignore all but core modules
system/modules/*
!system/modules/frontend
!system/modules/backend
!system/modules/mobile
!system/modules/twocheckout

# Private file folder. Ignore all but system files
files/private/*
!files/private/.htaccess
!files/private/stopwords
!files/private/import
!files/private/export
!files/private/download
!files/private/examples
!files/private/logs
!files/private/backup
