*sublime*
composer.lock
/.idea
/nbproject
/.git
/vendor
/system/modules/*
!/system/modules/fa
!/system/modules/backend
!/system/modules/frontend
!/system/modules/bootstrap
/files/private/*
!/files/private/.htaccess
!/files/private/stopwords
!/files/private/temp
!/files/private/modules