.idea
nbproject
*sublime*
.git
composer.lock

system/modules/*
!system/modules/frontend
!system/modules/backend

files/private/*
!files/private/.htaccess
!files/private/stopwords
!files/private/download
!files/private/temp
!files/private/backup