# Prevent direct access to files
<FilesMatch "^\.|\.(ini|fla|psd|log|sh|c|twig|exe|cache|json|yml)$|^gplcart$">
    Order Allow,Deny
    Deny from all
</FilesMatch> 

# Prevent directory listing
Options -Indexes

# Set default index handlers
DirectoryIndex index.php index.html index.htm

# Disable server signatures
ServerSignature Off

# Remove E-tag
FileETag None

<IfModule mod_rewrite.c>

    # Enable rewriting
    RewriteEngine On

    # Set "protossl" to "s" if we were accessed via https://
    RewriteRule ^ - [E=protossl]
    RewriteCond %{HTTPS} on
    RewriteRule ^ - [E=protossl:s]

    # To redirect from http://domain.com to http://www.domain.com uncomment the following:
    # RewriteCond %{HTTP_HOST} .
    # RewriteCond %{HTTP_HOST} !^www\. [NC]
    # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #
    # To redirect from http://www.domain.com to http://domain.com uncomment the following:
    # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    # RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

    # If your site installed at http://domain.com/subdirectory
    # and the rewriting rules are not working properly uncomment and modify the following:
    # RewriteBase /subdirectory

    # Prevent direct access to .php files
    RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
    RewriteRule \.php$ - [F]

    # Prevent direct access to system files, except module asset folders
    RewriteRule ^system/\w+/\w+/(js|css|image|vendor)/ - [L]
    RewriteRule ^system/ - [F]

    # Prevent direct access to vendor files, except asset folders
    RewriteRule ^vendor/\w+/\w+/asset/ - [L]
    RewriteRule ^vendor/ - [F]

    # Prevent access to private directories
    RewriteRule ^cache/ - [F]
    RewriteRule ^tests/ - [F]
    RewriteRule ^files/private/ - [F]

    # Pass all requests (except public files) to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>

    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    Header set X-Content-Type-Options "nosniff"
    Header unset X-Powered-By
    Header unset ETag

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>

    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
        # Cache static files for 1 year
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>
</IfModule>
