{#
    Displays the checkout complete page

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
{% if complete_message %}
    <div class="alert alert-success">
      {{ complete_message|raw }}
    </div>
{% endif %}
{% if complete_templates %}
    {% for template in complete_templates %}
        {{ template|raw }}
    {% endfor %}
{% endif %}