{#
    Displays 404 Page Not Found page

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}
    
    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
<div class="row">
  <div class="col-md-12">
    <h4>{{ text('404 - Page not found') }}</h4>
    <p>{{ text('The requested object or URL was not found on this server') }}</p>
  </div>
</div>