html {
    position: relative;
    min-height: 100%;
}

code,
kbd,
pre,
.list-group-item,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pager *,
.label,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
    border-radius:0 !important;
}

.content-header {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom:20px;
}

body {
    padding-top: 50px;
    margin-bottom: 80px;
    background-color: #f4f4f4;
}

body.js .hidden-js {
    display: none !important;
}

.navbar-fixed-top {
    background-color: #364F6B;
    border: none;
}

.navbar-fixed-top .navbar-nav > li > a {
    color: #fff;
}

.CodeMirror {
    height: auto;
}

.note-editable {
    border: 1px solid #ccc;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.indentation {
    margin-left: 10px;
}

.list-unstyled .list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 8px;
}

.list-unstyled .list-group-item:first-child {
    border-top: none;
}

.main {
    padding: 20px;
}

.content {
    padding-top: 20px;
}

ol.breadcrumb {
    background-color: transparent;
    margin: 0 !important;
    padding:0 !important;
}

h1 {
    margin:0 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.footer p:first-of-type{
    padding-top: 20px;
}

.growl-message {
    z-index: 9999 !important;
    opacity: 1;
    background-color: #fff;
    background-image: none !important;
}

#message .alert {
    border-color: #fff;
    border-width: 10px;
}

.no-border {
    border: none !important;
}

.no-color{
    background: repeating-linear-gradient(-45deg, #ccc, #ccc 1px, #fff 1px, #fff 4px);
}

.image-container .thumb {
    margin-bottom: 20px;
}

.scroll {
    max-height: 20em;
    overflow-y:scroll;
}

.tab-content {
    padding-top:30px;
}

.panel:not(.thumb) {
    border: none;
    background-color: #fff;
    box-shadow: none;
}

.panel-default:not(.thumb) > .panel-heading {
    background-color: #fff;
}

.panel-footer {
    background-color: #fff;
}

.panel-footer .pagination {
    margin:0;
}

.panel-body table tr:first-child td {
    border: none !important;
}

.note-group-select-from-files {
    display: none;
}

td .list-inline {
    margin: 0;
}

.table > thead > tr > th {
    border: none;
}

.phpinfo table {
    margin: 0 !important;
}

.phpinfo h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.modal.loading .progress {
    margin:0;
}

.modal.loading .progress-bar {
    width: 100%;
}

/* Center modal */
.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
/* End center modal */


/* Terminal */
#terminal-wrapper .modal-dialog {
    width: 80%;
}

/* Hide nasty scrollbar */ 
#terminal-wrapper .modal-content {
    overflow: hidden;
}

#terminal-wrapper #terminal {
    margin-right: -100px;
    padding-right: 100px;
}

#terminal-wrapper .ui-terminal {
    height: 500px;
    word-wrap: break-word;
}

/* End scrollbar style */

#terminal-wrapper .modal-content,
#terminal-wrapper .ui-widget-content {
    background: #000;
    color: #ccc;
    border: none;
    font-size: 90%;
}

#terminal-wrapper .modal-header {
    display:none;
}

.swatch {
    background: red;
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

.middle {
    vertical-align:middle !important;
}

.field-title {
    background-color: #ddd !important;
}

.combination-error .field-title input,
.combination-error .field-title .bootstrap-select .dropdown-toggle {
    border-color: #a94442;
}

tr.ui-sortable-helper {
    display: table;
    background-color: #fff;
}

td div.view img {
    height:30px;
    width:30px;
}
td div.view div {
    height:30px;
    width:30px;
}

.image-info {
    word-wrap: break-word;
}

.modules .name {
    padding-left: .5em;
    padding-top: .5em;
}

.ui-sortable-handle {
    cursor: n-resize;
}

body.admin .panel tr:first-child td {
    padding-top: 0 !important;
    border-top: 0 !important;
}

#option-form-wrapper tfoot td {
    visibility:hidden !important;
}

#option-form-wrapper tfoot td:last-child {
    visibility:visible !important;
}

.form-group.required label:before,
span.required:before,
td.required:before {
    content:"* ";
    color:red;
}

form.form-errors .panel-collapse:not(a),
form.form-errors .panel-collapse:not(a) .collapse,
form.form-errors .collapse.more {
    display: block !important;
}

form.form-errors .panel-heading a[data-toggle="collapse"] {
    pointer-events: none !important;
}

.category-tree .panel-heading {
    padding:5px;
    background-color: transparent;
    border: none;
}

.category-tree .panel-heading .title {
    padding-top: 6px;
}

.category-tree .panel {
    margin-bottom:5px;
}

.category-tree li {
    list-style:none !important;
}

ul.ui-autocomplete.ui-menu{
    width:50% !important;
}

ul.ui-autocomplete.ui-menu li a:hover {
    color: #fff !important;
}

.ui-menu .ui-menu-item:hover {
    background-color: #0088cc !important;
    background-image: none !important;
    color: #fff !important;
}

.ui-menu .ui-menu-item {
    background-image: none !important;
    background-color: #fff !important;
    padding-top: 0 !important;

}

.ui-autocomplete-loading {
    background: #dff0d8 !important;
}

.ui-widget {
    font-size: 1em !important;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 300px;
    _width: 300px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 14px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.address-book:not(.active) .panel-body {
    opacity:0.3;
    pointer-events: none;
}

.address-book:not(.active):not(.filled) .panel-body td * {
    visibility: hidden;
}

.address-book.filled:not(.active) .panel-body td input,
.address-book.filled:not(.active) .panel-body td select {
    border: transparent;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

body.admin .summary .thumbnail {
    padding: 10px;
}

body.admin .summary .thumbnail .pull-left {
    padding-top: 5px;
}

body.admin .panel-heading .event-severity {
    margin-left: 1em;
}

.tag {
    margin-bottom: 5px;
    margin-right: 5px;
    display: block;
}

.product-search-suggestion img {
    height: 30px;
}

.product-search-suggestion .price,
.product-search-suggestion .title {
    display: block;
}


.products [name$="[stock]"],
.products [name="stock"],
.products [name$="[price]"],
.products [name="price"] {
    width: 60px;
}

.navbar-nav.goto {
    margin: 0 !important;
}

/* Fix dropdown overflow in responsive tables */
@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

@media (max-width: 991px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .navbar-collapse.in {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    } 

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

@media all and (max-width: 1325px) {

    .navbar-nav.right-links {
        display:none;
    }
}

@media all and (max-width: 1180px) {

    #search-form {
        display: none;
    }
}