@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    font-family: 'Open Sans', sans-serif;
}

.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 10px;
}

.content {
    padding-top: 30px;
}

.page-title {
    padding-bottom: 20px;
}

.header {
    background-color: #f5f5f5;
}

.page-title h1 {
    margin: 0;
}

.actions {
    margin-bottom: 20px;
}

.tab-content {
    padding-top: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-static-top {
    margin: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

fieldset legend {
    border: none;
    font-size: 18px;
    margin-bottom: 0;
}

fieldset + fieldset legend:before {
    content: "";
    display: block;
    height: 15px;
    background: #f5f5f5;
    margin-bottom: 10px;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.7);
    box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.7);
}

fieldset:last-of-type {
    margin-bottom: 15px;
}

.indentation {
    margin-left: 10px;
}

ol.breadcrumb {
    background-color: transparent;
    margin: 0 !important;
    padding:0 !important;
}

label {
    font-weight: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #ddd;
}

.footer p:first-of-type{
    padding-top: 20px;
}

.popup.alert {
    position: fixed;
    right: 15px;
    bottom: 0;
    z-index: 99999;
}

.no-border {
    border: none !important;
}

.no-color{
    background: repeating-linear-gradient(-45deg, #ccc, #ccc 1px, #fff 1px, #fff 4px);
}

.image-container .thumb {
    margin-bottom: 20px;
}

.scroll {
    max-height: 20em;
    overflow-y:auto;
}

.list-inline .active a {
    text-decoration: none;
    color: #333;
    cursor: default;
}

.panel {
    box-shadow: none;
}

.panel-heading {
    background-color: transparent !important;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
}

.panel-heading li a {
    font-size: 90%;
}

.panel-body table tr:first-child td {
    border: none !important;
}

.modal.loading .progress {
    margin:0;
}

.modal.loading .progress-bar {
    width: 100%;
}

.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.middle {
    vertical-align:middle !important;
}

.field-title {
    background-color: #ddd !important;
}

.combination-error .field-title input,
.combination-error .field-title .bootstrap-select .dropdown-toggle {
    border-color: #a94442;
}

tr.ui-sortable-helper {
    display: table;
    background-color: #fff;
}

td .list-inline {
    margin: 0;
}

td div.view img {
    height:30px;
    width:30px;
}

td div.view div {
    height:30px;
    width:30px;
}

.table th {
    white-space: nowrap;
    font-weight: normal;
}

.ui-sortable-handle {
    cursor: n-resize;
}

body.admin .panel tr:first-child td {
    padding-top: 0 !important;
    border-top: 0 !important;
}

#option-form-wrapper tfoot td {
    visibility:hidden !important;
}

#option-form-wrapper tfoot td:last-child {
    visibility:visible !important;
}

.form-group.required label:before,
span.required:before,
td.required:before {
    content:"* ";
    color:red;
}

.ui-menu .ui-menu-item:hover {
    background-color: #0088cc !important;
    background-image: none !important;
    color: #fff !important;
}

.ui-autocomplete {
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete .ui-menu-item-wrapper {
    background: transparent;
    border: none;
}

.address-book:not(.active) .panel-body {
    opacity:0.3;
    pointer-events: none;
}

.address-book:not(.active):not(.filled) .panel-body td * {
    visibility: hidden;
}

.address-book.filled:not(.active) .panel-body td input,
.address-book.filled:not(.active) .panel-body td select {
    border: transparent;
    -moz-appearance:none;
    -webkit-appearance:none;
}

/* Fix dropdown overflow in responsive tables */
@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

@media (max-width: 991px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin: 8px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .navbar-collapse.in {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

@media all and (max-width: 1325px) {

    .navbar-nav.right-links {
        display:none;
    }
}

@media all and (max-width: 1180px) {

    #search-form {
        display: none;
    }
}
