{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
{% if rating['rating'] is defined and rating['rating'] %}
    <span class="star-rating static" title="{{ text('@num out of @total stars', {'@num': rating['rating'], '@total': 5}) }}">
      <span class="star-rating-wrap">
        <span class="star-rating-icons">
          {% for i in 0..5 %}
              {% if loop.revindex > rating['rating'] %}
                  <span class="star-rating-ico fa fa-star-o"></span>
              {% else %}
                  <span class="star-rating-ico fa fa-star"></span>
              {% endif %}
          {% endfor %}
        </span>
      </span>
    </span>
{% endif %}