@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 0 !important;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.required > td > .name:before {
    content:"* ";
    color:red;
}

td {
    vertical-align: middle !important;
}

.has-error {
    color: #a94442;
}

.actions {
    margin: 50px 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}