body.install {
    background-color: #edeff0;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
}

.install .container {
    background-color: #fff;
}

.install .header {
    padding: 20px 15px;
}

.install .footer {
    color: #777;
    padding: 20px 15px;
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .install .container {
        max-width: 730px;
    }
}

@media screen and (min-width: 768px) {
    .install  .header, .install .footer {
        padding-right: 0;
        padding-left: 0;
    }
}