html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;
    background-color: #f4f4f4;
}

.panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.panel-default>.panel-heading {
    background-color: #fff;
}

.breadcrumb {
    background-color: #fff;
    margin: 0;
}

.navbar.second {
    margin-bottom: 0;
}

.breadcrumb h1 {
    margin:0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    display: inline;
}

.navbar-static-top.first {
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 0;
    border: none;
}

.navbar.category {
    background-color: #fff;
    border: none;
}

.panel-body .pagination {
    margin-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    padding-top: 20px;
    padding-top: 20px;
    background-color: #fff;
}

.section {
    margin-bottom: 20px;
}

.section.collection {
    background: #fff;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.form-group.required .control-label:before,
span.required:before {
    content:"* ";
    color:red;
}


table.compare [class*="col-"] {
    width: auto;
    min-width: 10em;
}

table.compare tbody > tr > td  {
    border: none;
}

/*********************************** Rating ***************************************/

.star-rating{
    font-size: 0;
    display: table;
}

.star-rating-wrap{
    display: inline-block;
    font-size: 1.5rem;
}

.star-rating-wrap:after{
    content: "";
    display: table;
    clear: both;
}

.star-rating-ico {
    float: right;
    padding-left: 2px;
    color: #FFB300;
}

.star-rating.dinamic .star-rating-ico {
    cursor: pointer;
}

.star-rating-ico:last-child{
    padding-left: 0;
}

.star-rating-input{
    display: none;
}

.star-rating.dinamic .star-rating-ico:not(.unvote):hover:before,
.star-rating.dinamic .star-rating-ico:not(.unvote):hover ~ .star-rating-ico:before,
.star-rating.dinamic .star-rating-input:not(.unvote):checked ~ .star-rating-ico:before
{
    content: "\f005";
}

/*********************** Product options **************************/

label.option-wrapper > input {
    display: none;
}

label.option-wrapper > input  + img,
label.option-wrapper > input  + span {
    height:40px;
    width:40px;
    display: block;
    cursor: pointer;
    border: 1px solid transparent;  
}

label.option-wrapper > input:checked  + img,
label.option-wrapper > input:checked  + span {
    border: 1px solid #f00;
}


.option.not-matching {
    opacity: 0.5;
}

td.middle {
    vertical-align: middle !important;
}

.hidden-js {
    display: none !important;
}

.products.section {
    margin-bottom: 0;
    padding-bottom: 0;
}

.panel-footer .pagination {
    margin: 0;
}

.btn-group.saved-addresses label {
    margin-right: 1em;
    margin-bottom: 1em;
}

.indentation {
    padding-left: 1em;
}

.category-images .carousel-indicators {
    position: relative;
    margin:30px 0 0 0;
    padding:0;
    left:0;
    width: auto;
}

.category-images .carousel-indicators li {
    border-color: #ddd;
}

.category-images .carousel-indicators .active {
    background-color: #ddd;

}

.addresses .table.address {
    margin-bottom: 0;
}

.address.panel tr:first-child td {
    padding-top: 0 !important;
    border-top: 0 !important;
}

.slider.banner li { width:1200px; }
@media (max-width: 768px) {
    .slider.banner li { width:800px; }
}

.products div.thumbnail {
    border: none;
}

/******** Search ************/

.ui-autocomplete-loading + .fa-spinner  {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 9999;
    color: #ddd;
    display:block !important;
}

ul.ui-autocomplete.ui-menu{
    width:50% !important;
}

ul.ui-autocomplete.ui-menu li a:hover {
    color: #fff !important;
}

.ui-menu .ui-menu-item:hover {
    background-color: #0088cc !important;
    background-image: none !important;
    color: #fff !important;
}

.ui-menu .ui-menu-item {
    background-image: none !important;
    background-color: #fff !important;
    padding-top: 0 !important;

}

.ui-widget {
    font-size: 1em !important;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 300px;
    _width: 300px;
    padding: 4px 0;
    margin: 0;
    top: 50px !important;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 14px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-autocomplete .suggestion img {
    height: 40px;
}

.table.price-components {
    width: 100%;
    margin-bottom: 0;
}

.table.price-components td {
    max-width:100%;
    white-space:nowrap;
    vertical-align: middle;
}

.table.price-components .form-group {
    padding: 0;
    margin: 0;
}

/******** Account ************/

.order-details table {
    background-color: transparent !important;
}

.order-details table td {
    padding: 0 !important;
    border: none !important;
}

.order-details .heading {
    font-weight: bold;
    padding: 5px 0;
}