html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;
    background-color: #f4f4f4;
}

.panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.panel-default>.panel-heading {
    background-color: #fff;
}

.navbar-static-top.first {
    margin-bottom: 0;
    background-color: #fff;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    padding-top: 20px;
    padding-top: 20px;
    background-color: #fff;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.form-group.required .control-label:before,
span.required:before {
    content:"* ";
    color:red;
}


table.compare [class*="col-"] {
    width: auto;
    min-width: 12em;
}

table.compare tbody > tr > td  {
    border: none;
}

/*********************************** Rating ***************************************/

.star-rating{
    font-size: 0;
    display: table;
}

.star-rating-wrap{
    display: inline-block;
    font-size: 1.5rem;
}

.star-rating-wrap:after{
    content: "";
    display: table;
    clear: both;
}

.star-rating-ico {
    float: right;
    padding-left: 2px;
    color: #FFB300;
}

.star-rating.dinamic .star-rating-ico {
    cursor: pointer;
}

.star-rating-ico:last-child{
    padding-left: 0;
}

.star-rating-input{
    display: none;
}

.star-rating.dinamic .star-rating-ico:not(.unvote):hover:before,
.star-rating.dinamic .star-rating-ico:not(.unvote):hover ~ .star-rating-ico:before,
.star-rating.dinamic .star-rating-input:not(.unvote):checked ~ .star-rating-ico:before
{
    content: "\f005";
}

/*********************** Product options **************************/

label.option-wrapper > input {
    display: none;
}

label.option-wrapper > input  + img,
label.option-wrapper > input  + span {
    height:40px;
    width:40px;
    display: block;
    cursor: pointer;
    border: 1px solid transparent;  
}

label.option-wrapper > input:checked  + img,
label.option-wrapper > input:checked  + span {
    border: 1px solid #f00;
}


.option.not-matching {
    opacity: 0.5;
}

td.middle {
    vertical-align: middle !important;
}

.hidden-js {
    display: none !important;
}

.products.section {
    margin-bottom: 0;
    padding-bottom: 0;
}

.panel-footer .pagination {
    margin: 0;
}

.btn-group.saved-addresses label {
    margin-right: 1em;
    margin-bottom: 1em;
}

.indentation {
    padding-left: 1em;
}

.category-images .carousel-indicators {
    position: relative;
    margin:30px 0 0 0;
    padding:0;
    left:0;
    width: auto;
}

.category-images .carousel-indicators li {
    border-color: #ddd;
}

.category-images .carousel-indicators .active {
    background-color: #ddd;

}

.addresses .table.address {
    margin-bottom: 0;
}

.address.panel tr:first-child td {
    padding-top: 0 !important;
    border-top: 0 !important;
}


/*************************** Carousel ***************************/

.carousel .thumbnail {
    margin-bottom: 0;
}

.carousel.block .carousel-control {
    width:30px;
    background-color: rgba(255, 255, 255, 0);
    filter: alpha(opacity=1);
    opacity: 1;
    color:#777;
}

.carousel.block .carousel-control:focus,
.carousel.block .carousel-control:hover {
    text-decoration: none;
    filter: alpha(opacity=1);
    opacity: 1;
}

.carousel.block .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .0001)));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
    text-align: left;
    left: -5px;
}
.carousel.block .carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .0001) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, .0001) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0001)), to(rgba(255, 255, 255, 1)));
    background-image: linear-gradient(to right, rgba(255, 255, 255, .0001) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
    text-align: right;
    right: -5px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .carousel.block .carousel-control {
        padding-top:12%;
    } 
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel.block .carousel-control {
        padding-top:12%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .carousel.block .carousel-control {
        padding-top: 30px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .carousel.block .carousel-control {
        padding-top: 200px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .carousel.block .carousel-control {
        padding-top: 0;
    }
}

/************************ Megamenu ************************/

.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
    position: static;
}

.megamenu .dropdown-menu {
    left: auto;
}

.megamenu .dropdown.full-width .dropdown-menu {
    left: 0;
    right: 0;
}

.megamenu li.depth-1 {
    float: left;
    width: 25%;
}

.megamenu .depth-1 > li > a:focus,
.megamenu .depth-1 > li > a:hover {
    background-color: transparent !important;
}

.megamenu .depth-1 a {
    color: #333 !important;
}

.megamenu ul.depth-2 {
    padding-left: 20px;
}

.megamenu ul.depth-2 li {
    list-style: none;
    list-style-type: none;
}

.products div.thumbnail {
    border: none;
}

.region {
    margin-bottom: 20px;
}

/************ Fullscreen carousel ************/

/* Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active { opacity: 1; }

.carousel-fade .active.left,
.carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/******** End fading slide **********/

.fullscreen-carousel .carousel,
.fullscreen-carousel .item {
    height: 100%;
}

.fullscreen-carousel .carousel-inner {
    height: 100%;
}

.fullscreen-carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.fullscreen-carousel {
    height: 500px;
}

.fullscreen-carousel .description {
    display: table;
    width: 100%;
    height: 400px;
}

.fullscreen-carousel .description .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.fullscreen-carousel .description .content {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.js .item.clickable {
    cursor: pointer;
}

.js .item.clickable .description .content {
    cursor: default !important;
}

.fullscreen-carousel .carousel-indicators li {
    border-color: #ddd;
    width: 18px;
    height: 18px;
}

.fullscreen-carousel .carousel-indicators li.active {
    background: #ddd;
}

.recent-products form {
    display: none;
}

/******** Search ************/

.ui-autocomplete-loading + .fa-spinner  {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 9999;
    color: #ddd;
    display:block !important;
}

ul.ui-autocomplete.ui-menu{
    width:50% !important;
}

ul.ui-autocomplete.ui-menu li a:hover {
    color: #fff !important;
}

.ui-menu .ui-menu-item:hover {
    background-color: #0088cc !important;
    background-image: none !important;
    color: #fff !important;
}

.ui-menu .ui-menu-item {
    background-image: none !important;
    background-color: #fff !important;
    padding-top: 0 !important;

}

.ui-widget {
    font-size: 1em !important;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 300px;
    _width: 300px;
    padding: 4px 0;
    margin: 0;
    top: 50px !important;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 14px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-autocomplete .suggestion img {
    height: 40px;
}

.table.price-components {
    width: 100%;
    margin-bottom: 0;
}

.table.price-components td {
    max-width:100%;
    white-space:nowrap;
    vertical-align: middle;
}

.table.price-components .form-group {
    padding: 0;
    margin: 0;
}

/******** Account ************/

.order-details table {
    background-color: transparent !important;
}

.order-details table td {
    padding: 0 !important;
    border: none !important;
}

.order-details .heading {
    font-weight: bold;
    padding: 5px 0;
}