body {
    margin-bottom: 120px;
    background-color: #f7f7f7;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    margin-bottom: 0;
    border: none;
    background-color: #364F6B;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
}

.footer .container {
    height: 100%;
    padding-top: 20px;
    background-color: #eee;
}

.main {
    padding-top: 20px;
}

.container.wrapper {
    background-color: #fff;
    min-height: calc(100vh - 120px);
}

code,
kbd,
pre,
.list-group-item,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pager *,
.label,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
    border-radius:0 !important;
}

.panel {
    border: none;
    box-shadow: none;
    border-radius: 0 !important;
}

.list.product.item .panel {
    border: 1px solid #ddd;
}

.list.product.item .panel .thumbnail {
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    background-color: #fff;
}

.breadcrumb {
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}


body.checkout .navbar .cart {
    display: none;
}

.badge:empty + .fa {
    display:none;
}

.breadcrumb h1 {
    margin:0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    display: inline;
}

.navbar.second {
    background-color: #444;
    z-index: 999;
}


.navbar.second a {
    color: #9d9d9d;
}

a.disabled {
    pointer-events: none;
    text-decoration: none;
    color: inherit;
}

.navbar.category {
    margin-bottom: 20px;
}

.panel-body .pagination {
    margin-bottom: 0;
}

.table-borderless tr,
.table-borderless td {
    border: none !important;
}

.section {
    margin-bottom: 20px;
}

.section.collection {
    background: #fff;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.form-group.required .control-label:before,
span.required:before {
    content:"* ";
    color:red;
}

table.compare [class*="col-"] {
    width: auto;
    min-width: 10em;
}

table.compare tbody > tr > td  {
    border: none;
}

/*********************************** Rating ***************************************/

.star-rating{
    font-size: 0;
    display: table;
}

.star-rating-wrap{
    display: inline-block;
    font-size: 1.5rem;
}

.star-rating-wrap:after{
    content: "";
    display: table;
    clear: both;
}

.star-rating-ico {
    float: right;
    padding-left: 2px;
    color: #FFB300;
}

.star-rating.dinamic .star-rating-ico {
    cursor: pointer;
}

.star-rating-ico:last-child{
    padding-left: 0;
}

.star-rating-input{
    display: none;
}

.star-rating.dinamic .star-rating-ico:not(.unvote):hover:before,
.star-rating.dinamic .star-rating-ico:not(.unvote):hover ~ .star-rating-ico:before,
.star-rating.dinamic .star-rating-input:not(.unvote):checked ~ .star-rating-ico:before
{
    content: "\f005";
}

/*********************** Product options **************************/

label.option-wrapper > input {
    display: none;
}

label.option-wrapper > input  + img,
label.option-wrapper > input  + span {
    height:40px;
    width:40px;
    display: block;
    cursor: pointer;
    border: 1px solid transparent;  
}

label.option-wrapper > input:checked  + img,
label.option-wrapper > input:checked  + span {
    border: 1px solid #f00;
}


.option.not-matching {
    opacity: 0.5;
}

td.middle {
    vertical-align: middle !important;
}

.table-auto {
    width: auto !important;
}

.panel-title {
    font-size: 100%;
}

.hidden-js {
    display: none !important;
}

.products.section {
    margin-bottom: 0;
    padding-bottom: 0;
}

.panel-footer .pagination {
    margin: 0;
}

.btn-group.saved-addresses label {
    margin-right: 1em;
    margin-bottom: 1em;
}

.indentation {
    padding-left: 1em;
}

.addresses .table.address {
    margin-bottom: 0;
}

.address.panel tr:first-child td {
    padding-top: 0 !important;
    border-top: 0 !important;
}

.collection-file .slider li {
    width:1140px;
}



.item .thumbnail .thumbnail {
    border: none;
}

/******** Search ************/

.ui-autocomplete-loading + .fa-spinner  {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 9999;
    color: #ddd;
    display:block !important;
}

ul.ui-autocomplete.ui-menu{
    width:50% !important;
}

ul.ui-autocomplete.ui-menu li a:hover {
    color: #fff !important;
}

.ui-menu .ui-menu-item:hover {
    background-color: #0088cc !important;
    background-image: none !important;
    color: #fff !important;
}

.ui-menu .ui-menu-item {
    background-image: none !important;
    background-color: #fff !important;
    padding-top: 0 !important;

}

.ui-widget {
    font-size: 1em !important;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 300px;
    _width: 300px;
    padding: 4px 0;
    margin: 0;
    top: 50px !important;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 14px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-autocomplete .suggestion img {
    height: 40px;
}

.table.price-components {
    width: 100%;
    margin-bottom: 0;
}

.table.price-components td {
    max-width:100%;
    white-space:nowrap;
    vertical-align: middle;
}

.table.price-components .form-group {
    padding: 0;
    margin: 0;
}